<?php
$title = 'Logged Time History for Project '.$project->getName();
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p><a href="<?php echo $this->url('logTime',
		['action'=>'startLogging', 'id' => $project->getId()]);?>">Start Logging</a></p>
<?php
if(!empty($loggedTimes)):
?>
<table class="table table-bordered">
	<tr>
		<th>Started Date</th>
		<th>Start Time</th>
		<th>Stop Date</th>
		<th>Stop Time</th>
	</tr>
	<?php foreach($loggedTimes as $loggedTime) : ?>
		<tr>
			<td><?php echo $this->escapeHtml($loggedTime->getStartDate());?></td>
			<td><?php echo $this->escapeHtml($loggedTime->getStartTime());?></td>
			<td><?php echo $this->escapeHtml($loggedTime->getStopDate());?></td>
			<td><?php echo $this->escapeHtml($loggedTime->getStopTime());?></td>
		</tr>
	<?php
		endforeach;
		endif;
	?>
</table>
