<?php

$title = 'Running Logs';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p><a href="<?php echo $this->url('projects');?>">All projects</a></p>

<table class="table table-bordered">
	<tr>
		<th>Project</th>
		<th>Started Date</th>
		<th>Start Time</th>
		<th>Action</th>
	</tr>
	<?php foreach($runningLogs as $runningLog) : ?>
		<tr>
			<td><?php echo $this->escapeHtml($runningLog->getProject()->getName());?></td>
			<td><?php echo $this->escapeHtml($runningLog->getStartDate());?></td>
			<td><?php echo $this->escapeHtml($runningLog->getStartTime());?></td>
			<td>
				<form method="POST" action="<?php echo $this->url('logTime',
					['action' => 'stopRunningLog',
					 'id' => $runningLog->getProject()->getId()]);?>">
					<input type="hidden" value="<?php echo date('H:i:s');?>" name="stopTime">
					<input type="hidden" value="<?php echo date('Y-m-d');?>" name="stopDate">
					<button type="submit" class="btn btn-danger">Stop Log</button>
				</form>
			</td>
		</tr>
	<?php endforeach; ?>
</table>
