<?php

$title = 'Running Log for Project '. $runningLog->getProject->getName();
$this->headTitle($title);
?>

<div class="row col-lg-5" style="margin-bottom: 20px">
	<h1><?php echo $this->escapeHtml($title); ?>
		<a class="btn btn-primary pull-right" href="<?php echo $this->url('projects', ['action'=>'add']);?>">Create New Project</a>
	</h1>
</div>
<p><a href="<?php echo $this->url('projects');?>"></a></p>
<table class="table table-bordered">
	<tr>
		<th>Started Date</th>
		<th>Start Time</th>
		<th>Action</th>
	</tr>
	<tr>
		<td><?php echo $this->escapeHtml($runningLog->getStartDate());?></td>
		<td><?php echo $this->escapeHtml($runningLog->getStartTime());?></td>
		<td>
			<form method="POST" action="<?php echo $this->url('logTime',
				['action' => 'stopRunningLog',
				 'id' => $runningLog->getProject()->getId()]);?>">
				<input type="hidden" value="<?php echo date('H:i:s');?>" name="stopTime">
				<input type="hidden" value="<?php echo date('Y-m-d');?>" name="stopDate">
				<button type="submit" class="btn btn-danger">Stop Log</button>
			</form>
		</td>
	</tr>
</table>
