<?php
$title = 'Add new project';
$this->headTitle($title);
?>
	<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
	if(isset($message)) : ?>
<div class='alert alert-danger' >
	<?php echo $message?>
</div>
<?php
endif;
$form->setAttribute('action', $this->url('projects', ['action' => 'add']));
$form->prepare();
?>
<div class="form-group">
	<?php
		echo $this->form()->openTag($form);
		echo $this->formCollection($form);
	?>
</div>
<?php
echo $this->form()->closeTag();
