<?php
$title = 'My Projects';
$this->headTitle($title);
?>
<div class="row col-lg-5" style="margin-bottom: 20px">
	<h1><?php echo $this->escapeHtml($title); ?>
	<a class="btn btn-primary pull-right" href="<?php echo $this->url('projects', ['action'=>'add']);?>">Create New Project</a>
	</h1>
</div>
<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Created</th>
		<th>Action</th>
	</tr>
	<?php foreach($projects as $project) : ?>
		<tr>
			<td><?php echo $this->escapeHtml($project->getName());?></td>
			<td><?php echo is_null($project->getStartDate())? "" : $project->getStartDate();?></td>
			<td>
				<a href="<?php echo $this->url('projects',
					['action'=>'edit', 'id' => $project->getId()]);?>">Edit</a> |
				<a href="<?php echo $this->url('projects',
					['action'=>'delete', 'id' => $project->getId()]);?>">Delete</a> |
				<a href="<?php echo $this->url('logTime',
					['id' => $project->getId()]);?>">View Log</a> |
				<a href="<?php echo $this->url('logTime',
					['action'=>'startLogging', 'id' => $project->getId()]);?>">Start Logging</a>
			</td>
		</tr>
	<?php endforeach; ?>
</table>
